<h1>Quora Clone</h1>
<%= "Welcome to Quora Clone!" %> <br/>
<%= "Today is #{@date}" %> <br/>
<%= "Congradulations! You have successfully signed up!" %> <br/>

<spin>Please login now</spin>
<form method='get' action='/login'>
    <button>Login</button>
</form>