<h1 class="text-center font-weight-light"> Are you sure you want to delete the answer? </h1>

<form method ='post' action='/questions/<%= @question.id %>/answers/<%= "#{@answers.id}" %>/delete'>
 	<input type = "hidden" name = "_method" value ="delete"><br/>
   	<div class="container text-center">
   	<button class="btn btn-outline-danger">Yes, delete</button> 
   </div> 
</form>