<a href = '/users/<%= current_user.id%>'><button type="button" class="btn btn-outline-secondary"> Go back to the profile page</button></a> <br/>


<h1 class="text-center font-weight-light"> All questions </h1> <br/>
<div class = "container text-center">
	<div class="btn-group" role="group" aria-label="Basic example">
	   <a href="<%= "/my_questions" %>"><button type="button" class="btn btn-light" >My questions</button></a>
	   <a href="/questions"><button type="button" class="btn btn-light">All questions</button></a>

	<br style="line-height: 90px" />
	  
	</div>
</div>

<% @questions.each do |question| %>

<ul>
	<a href = "/questions/<%= "#{question.id}" %>"> <li> <%= question.description%> </li> </a>
</ul>

<% end %>



